html {
	padding-bottom :0;
	margin-bottom: 0;
	height: 100%;
}

body {
	margin-bottom: 50px;
}

#mainLogo {
	padding: 0;
	margin: 0;
	min-height: 159px;
}

#mainMenu {
	font-size: 120%;
}

#mainMenu .menuItem {
	width: 16.6%;
}

#body-container {
	width: 70%;
	
	margin-left: 15%;
	margin-right:auto;
}

.zakosta-gallery-item {
	display: block;
	float: left;
	margin: 0 5px 5px 0;
	width: 130px;
}

#footer {
	height: 50px;
	width: 100%;
	bottom: 0;
	overflow: hidden;
	font-size: 70%;
}


#footer ul li {
	display: inline;
	list-style-type: none;
}

#footer .footerItem {
	padding-left: 20px;
	padding-right: 25px;
}